@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$cor-principal: #AFDEA1;
$fonte-principal: "IBM Plex Mono", monospace;
$fonte-textos: "Inter", sans-serif;
$fonte-regular: 400;
$fonte-semibold: 600;

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navegacao {
    background-color: $cor-principal;
    margin-bottom: 25px;
}

.dropdown {
    &-menu {
        background-color: $cor-principal;
        border-radius: 0 0 40px 40px;
        border: none;
        padding: 20px;
        box-shadow: 10px 10px 4px rgba(94, 94, 94, 0.5);
    }
    &-item {
        font: {
            size: 26px;
            weight: $fonte-semibold;
            family: $fonte-principal;
        }
        text-align: center;
        margin-bottom: 5px;
    }
}

header {
    gap: 20px;
}

.header {
    &-titulo {
        text-align: center;
        font: {
            size: 24px;
            weight: $fonte-semibold;
            family: $fonte-principal;
        }
    }
    &-imagem {
        width: 100%;
        height: 100%;
    }
    &-texto {
        font: {
            family: $fonte-textos;
            size: 20px;
            weight: $fonte-regular
        };
        text-align: justify;
        margin-bottom: 40px;
    }
}

.tipos {
    background: url(./imagens/fundoTipos.png);
    background: {
        repeat: no-repeat;
        position: center;
        size: 600px;
    }
    height: 800px;
    text-align: center;
    &-titulo {
        font: {
            family: $fonte-principal;
            size: 24px;
            weight: $fonte-semibold
        }
    }
    &-card {
        background-color: $cor-principal;
        padding: 10px;
        width: 80vw;
        height: 60vh;
        box-shadow: 10px 10px 4px rgba(94, 94, 94, 0.5);
        margin-bottom: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &-imagem {
            width: 80%;
            height: 50%;
            border: 3px solid black;
            object-fit:cover ;
        }
        &-titulo {
            font: {
                size: 26px;
                weight: $fonte-semibold;
                family: $fonte-principal;
            }
            margin: 10px 0;
        }
        &-texto {
            font: {
                size: 24px;
                weight: $fonte-regular;
                family: $fonte-textos;
            }
        }
    }
}

.beneficios {
    text-align: center;
    background: url(./imagens/fundoBeneficios.png);
    background-repeat: no-repeat;
    background-position-x: center ;
    height: 700px;
    
    &-titulo {
        font: {
            size: 24px;
            weight: $fonte-semibold;
            family: $fonte-principal;
        }
    }
    &-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80%;
        &-item {
            list-style-type: none;
            padding: 15px;
            background-color: rgb(161, 218, 144);
            box-shadow: 10px 10px 4px rgba(49, 49, 49, 0.5);
            width: 80%;
            &:hover {
                background-color: rgb(135, 235, 105);
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
                transition: 0.25s;

            }
            &-subtitulo {
                font: {
                    size: 24px;
                    weight: $fonte-semibold;
                    family: $fonte-textos;
                    }
            }
        }
    }
}

.desafios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    height: 500px;
    &-titulo {
        font: {
            size: 26px;
            weight: $fonte-semibold;
            family: $fonte-principal;
            }
    }
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $cor-principal;
    padding: 10px 0;
    height: 10vh;
    &-logo {
        width: 40%;
    }
    &-link {
        text-decoration: none;
        color:  black;
        font: {
            size: 26px;
            weight: $fonte-semibold;
            family: $fonte-principal;
        }
    }
}